body {
  padding-top: 50px;
}

nav {
  background-color: orange;
}

footer {
  background-color: white;
}

.h1-font {
  font-family: sans-serif;
}

.mynavbar-button {
  background-color: orange;
}

.dark-border {
  border-bottom: solid 1px;
  border-color: darkgray;
  border-left: solid 1px;
  border-right: solid 1px;
}

.color-border {
  border-color: orange;
  border-left: solid 1px;
  border-right: solid 1px;
}

.color-background {
  background-color: rgb(249, 213, 164);
}

.mynavbar-text {
  color: white;
}

.navbar-default {
  background-color: orange;
}

.white-text {
  color: white;
}

.orange-text {
  color: darkorange;
}

.heading {
  margin-bottom: 30px;
}

.hr-div {
  border-bottom: 2px solid orange;
  height: 26px;
  text-align: center;
  width: 100%;
}

.hr-div-deco {
  color: orange;
  font-size: 35px;
  padding: 10px;
}

#main {
  background-color: lightgray;
  margin-left: 5%;
  margin-right: 5%;
}

#aboutMe {
  padding: 20px;
}

#portfolio {
  padding: 20px;
  background-color: lightgray;
}

#contact {
  padding: 20px;
}

#socialMedia {
  background-color: white;
  padding-top: 15px;
}

#title {
  color: white;
  font-family: 'Monoton', cursive;
  font-size: 3em;
}


/* Style for sm sized devices */

@media (max-width: 991px) and (min-width: 768px) {
  #aboutMe-img {
    padding-top: 10%;
  }
}
