:root {
  --main-text-color-light: #023E73;
  --main-text-color-dark: #CEAFAB;
  --main-text-color: var(--main-text-color-light);

  --button-color-light: var(--accent-color-light);
  --button-color-dark: var(--main-text-color-dark);
  --button-color: var(--button-color-light);

  --button-hover-color-light: var(--main-text-color-light);
  --button-hover-color-dark: #7AA3D0;
  --button-hover-color: var(--button-hover-color-light);

  --main-background-color-light: #F2BFAC;
  --main-background-color-dark: #183152;
  --main-background-color: var(--main-background-color-light);

  --accent-color-light: #D99066;
  --accent-color-dark: #6389BA;
  --accent-color: var(--accent-color-light);

  --button-text-color-light: #D8E3F2;
  --button-text-color-dark: #19191c;
  --button-text-color: var(--button-text-color-light);

  --tr-color-light: #000;
  --tr-color-dark: #fff;
  --tr-color: var(--tr-color-light);

  --profile-background-color-light: #262626;
  --profile-background-color-dark: #1a1a1a;
  --profile-background-color: var(--profile-background-color-light);

  --caret-color-light: var(--accent-color-light);
  --caret-color-dark: var(--accent-color-dark);
  --caret-color: var(--caret-color-light);

  --tr-logo-filter-light: invert(1);
  --tr-logo-filter-dark: none;
  --tr-logo-filter: var(--tr-logo-filter-light);

  --profile-picture-small-height-factor: 0.9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-text-color: var(--main-text-color-dark);
    --button-color: var(--button-color-dark);
    --button-hover-color: var(--button-hover-color-dark);
    --main-background-color: var(--main-background-color-dark);
    --accent-color: var(--accent-color-dark);
    --button-text-color: var(--button-text-color-dark);
    --tr-color: var(--tr-color-dark);
    --profile-background-color: var(--profile-background-color-dark);
    --caret-color: var(--caret-color-dark);

    --tr-logo-filter: var(--tr-logo-filter-dark);
  }
}

.background {
  position: fixed;
  z-index: 0;
  height: 100%;
  width: 100%;
  display: flex;
}

.background-right {
  background-color: var(--profile-background-color);
  width: 40%;
  display: block;
}

.background-left {
  background-color: var(--accent-color);
  width: 60%;
}

.wrap {
  border-right: 0.08em solid var(--caret-color);
  display: inline-block;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--profile-background-color);
  margin: 0;
}

h1, h2 {
  font-family: 'Outfit', sans-serif;
}

h1, h2, p {
  color: var(--main-text-color);
}

h1 {
  font-size: 5.25em;
  margin: 0;
  line-height: 1em;
}

h2 {
  font-size: 2.9em;
  margin: 0;
}

p {
  line-height: 1.5em;
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.31em;
}

a {
  text-decoration: none;
  color: black;
}

.link-container > a {
  --a-text-height: 2em;
  text-decoration: none;
  text-align: center;
  height: var(--a-text-height);
  line-height: var(--a-text-height);
  background-color: var(--button-color);
  border-radius: 0.5em;
  border: none;
  padding: 0 1em;
  color: var(--button-text-color);
  white-space: nowrap;
  transition: background-color 150ms ease;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.31em;
}

.link-container > a:hover {
  background-color: var(--button-hover-color);
}

.tr-logo {
  width: 15px;
  height: 15px;
  filter: var(--tr-logo-filter);
}

.employer {
  font-family: 'Barlow', sans-serif;
  color: var(--tr-color);
}

main {
  margin: 0 5vw;
  position: fixed;
  z-index: 3;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.header {
  margin-bottom: 0.6em;
}

.content {
  height: 100%;
}

.main-background-container {
  height: 100%;
  width: 70%;
  position: fixed;
  z-index: 2;
  filter: drop-shadow(0 0 2vmin hsla(0, 0%, 0%, 0.25));
}

.main-background {
  fill: var(--main-background-color);
}

.main-background-small {
  display: none;
}

.main-background-large {
  display: block;
}

.side-portrait {
  height: 100%;
  width: 33.5%;
  right: 0;
  top: 0;
  position: fixed;
  z-index: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.side-portrait img {
  height: clamp(calc(650px * var(--profile-picture-small-height-factor)), 75vh, 75vh);
}

.icon-row {
  margin-top: 2%;
}

.link-container {
  display: grid;
  column-gap: min(1.5em, 2.5vw);
  grid-template-columns: repeat(3, 1fr);
  width: min-content;
  margin-top: 0.75em;
}

/* Low height */
@media (max-height: 420px) {
  .background-left {
    background-color: var(--main-background-color);
  }

  .main-background-container {
    filter: none;
  }
}

/* Up to mid-height */
@media (max-height: 650px) {
  .side-portrait img {
    height: calc(var(--profile-picture-small-height-factor) * 100%);
  }
}

/* Small screen landscape */
@media (max-width: 930px) {
  .side-portrait {
    display: none;
    align-items: flex-end;
    justify-content: center;
  }

  .main-background-large {
    display: none;
  }

  .main-background-small {
    display: block;
  }

  .main-background-container {
    width: 100%;
  }

  .background-left {
    width: 100%;
  }

  .background-right {
    display: none;
  }
}

/* Square */
@media (max-width: 100vh) {
  .side-portrait {
    display: none;
    align-items: flex-end;
    justify-content: center;
  }

  .main-background-large {
    display: none;
  }

  .main-background-small {
    display: block;
  }

  .content {
    width: 100%;
  }

  .main-background-container {
    width: 100%;
  }

  .background-left {
    width: 100%;
  }

  .background-right {
    display: none;
  }
}

/* Portrait */
@media (max-width: 75vh) {
  h1 {
    font-size: 18vmin;
  }

  h2 {
    font-size: 10vmin;
  }

  p {
    font-size: 4vmin;
  }

  .link-container > a {
    font-size: 4.5vmin;
  }

  .tr-logo {
    width: 3.2vmin;
    height: 3.2vmin;
  }
}

