:root {
  --main-color: #023E73;
  --tw-color: #e16a7c;
  --background-color: #F2BFAC;
  --profile-background-color: #262626;
  --accent-color: #D99066;
  --accent-second-color: #D8E3F2;

  --sidebar-ratio: 33.5%;
}

.background {
  position: fixed;
  z-index: 0;
  height: 100%;
  width: 100%;
  display: flex;
}

.background-right {
  background-color: var(--profile-background-color);
  width: 40%;
  display: block;
}

.background-left {
  background-color: var(--accent-color);
  width: 60%;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--background-color);
  margin: 0;
}

h1, h2 {
  font-family: 'Outfit', sans-serif;
}

h1, h2, p {
  color: var(--main-color);
}

h1 {
  font-size: 10vmin;
  margin: 0;
  line-height: 1em;
}

.wrap {
  border-right: 0.08em solid var(--accent-color);
  display: inline-block;
}

h2 {
  font-size: 5.5vmin;
  margin: 0;
}

p {
  line-height: 1.5em;
  margin: 0;
}

p, button {
  font-family: 'Titillium Web', sans-serif;
  font-size: 2.5vmin;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  margin: 0 5vw;
  position: fixed;
  z-index: 3;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.content {
  width: 70%;
  height: 100%;
}

.main-background-container {
  height: 100%;
  width: 70%;
  position: fixed;
  z-index: 2;
}

.main-background {
  fill: var(--background-color);
  box-shadow: 0 0 40px 0 black;
}

.main-background-small {
  display: none;
}

.main-background-large {
  display: block;
}

.side-portrait {
  height: 100%;
  width: var(--sidebar-ratio);
  right: 0;
  top: 0;
  position: fixed;
  z-index: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  img {
    height: 70%;
  }
}

.subtitle {
  margin-top: 1.5vh;
  margin-bottom: 3vh;
}

.icon-row {
  margin-top: 2%;
}

.tw-dash {
  color: var(--tw-color);
}

.thoughtworks {
  font-weight: bolder;
}

.button-container {
  display: flex;
  width: 35vw;
  margin-top: 3vh;
  justify-content: space-between;
}

button {
  height: 5vh;
  background-color: var(--accent-color);
  border-radius: 1vmax;
  border: none;
  padding: 0 2vw;
  color: var(--accent-second-color);
  white-space: nowrap;

  &:hover {
    background-color: var(--main-color);
  }
}

@media (max-width: 125vh) {
  .side-portrait {
    display: none;
    align-items: flex-end;
    justify-content: center;
  }
  .main-background-large {
    display: none;
  }
  .main-background-small {
    display: block;
  }
  .content {
    width: 100%;
  }
  .main-background-container {
    width: 100%;
  }
  .background-left {
    width: 100%;
  }
  .background-right {
    display: none;
  }
  .button-container {
    width: 50vw;
  }
}

@media (max-width: 80vh) {
  main {
    margin: 0 4vw;
    width: 92%;
  }
}

@media (max-width: 60vh) {
  h1 {
    font-size: 20vmin;
  }
  h2 {
    font-size: 12vmin;
  }
  p, button {
    font-size: 5vmin;
  }
  .button-container {
    width: 100%;
  }
}

