html,
body {
  height:100%;
  display: grid;
}

body {
  /* Full height */
  height: 100%;
  background: url("background.jpg") no-repeat center;
  background-size: cover;
  overflow: hidden;
}

h1 {
  font-size: 5em;
  letter-spacing: 5px;
  margin: 0;
}

h1,
h3 {
  font-family: 'Roboto', sans-serif;
  color: #111;
}

main {
  margin: auto;
}

a {
  color: black;
  :hover {
    color: #EEE;
  }
}

.icon-row {
  margin-top: 2%;
}
