html {
   margin: 0px;
   height: 100%;
   width: 100%;
}

body {
  background-color: black;
  margin: 0px;
  height: 100%;
  width: 100%;
  color: white;
  font-family: 'Press Start 2P';
}

h1, h2, p {
  text-align: center;
}

#mainDiv {
  margin: auto;
}

#gameCanvas {
  position: absolute;
  z-index: 2;
  border: 3px solid white;
}

#highscoreDisplay {
  border: 3px solid white;
  position: relative;
  background-color: black;
  color: white;
  z-index: 1;
}
