html {
   margin: 0px;
   height: 100%;
   width: 100%;
}

body {
  margin: 0px;
  height: 100%;
  width: 100%;
}

.pressStart2P {
  font-family: 'Press Start 2P';
}

#gameCanvas {
  border: 2px solid black;
}
