html {
   margin: 0px;
   height: 100%;
   width: 100%;
}

body {
  margin: 0px;
  height: 100%;
  width: 100%;
}

ul {
  list-style: none;
}

.pressStart2P {
  font-family: 'Press Start 2P';
  color: white;
}

#mainDiv {
  margin: auto;
}

#gameCanvas {
  position: absolute;
  z-index: 2;
  border: 3px solid white;
}

#highscoreDisplay {
  border-top: 3px solid white;
  margin: 2.5px;
  position: relative;
  background-color: black;
  color: white;
  z-index: 1;
  font-size: 1em;
}
